@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch";
/* universal */
@mixin box_sizing {
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 		border-box;
}

body {
	padding-top:60px;
}

section {
	overflow:auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align:center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h5{
	display: inline;
}

p
{
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;

	&:hover {
	color: #eee;
	text-decoration:none;
	}
	
}

input[type="text"],input[type="password"],input[type="submit"], textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.select-group{
	margin-left: 10px !important;
}

.nav-links{
	color: #fff !important;
}

.error-message{
	color: rgb(169, 68, 66);
}

.export-text{
	cursor: default;
	&:hover {
	background-color: #5cb85c;
	}
}

.swatch {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

.minimize-filters, .minimize-stats {
	cursor: pointer;
}

.add-name {
	border-radius: 100%;
	padding: 5px;
	border: 1px solid #6197FA;
	color: #6197FA;
	cursor: pointer;
	font-weight: 100;
}

#dayChart{
		
}

#foodChart{
	margin-top: 50px;
}

#guestChart{
	margin-top: 50px;
}

.legends{
	margin-top: 50px;	
}

.legends-day{
	margin-top: 5px;
	margin-bottom: 30px;
}
